.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 5px 0px;
  padding: 0em 1em;
  margin: 1em 1em;
  border-radius: 8px;
}

.left {
  background-color: #d3e2ee;
}

.center {
  background-color: rgb(186, 228, 176);
  padding: 0.5em 1em;
  border: 1px solid #008cff;
}
.right {
  background-color: rgb(206, 206, 206);
}
.brand {
  text-decoration: none;
}
.brand span {
  text-transform: uppercase;
  font-weight: 900;
}

.links_list {
  display: flex;
  align-items: center;
}


.center a {
  padding: 0em 0.5em;
  text-decoration: none;
}

.active {
  border-radius: 0.7em;
  border: #008cff 0.1em solid;
}


.user_name span {
  white-space: nowrap;
  padding: 1em 0em;
  align-items: center;
}
.sair {
    padding-left: .5em;
  color: rgb(253, 112, 112);
}
