.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search_form {
  max-width: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  margin-bottom: 0em;
}

.search_form input {
  text-align: center;
  margin-right: .5em;
  width: 50%;
}

.noposts {
  text-align: center;
}

.noposts p {
  margin-bottom: 1.5em;
}
.noposts a {
  padding: .7em 1em;
}

.posts .title_post{
  text-align: left;
  margin-left: .5em;
  
}
